<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生基本信息</title>
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">
        <button id="btn_search" type="button" class="btn btn-primary">查询</button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th>头像</th>
            <th>名字</th>
            <th>HP</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="panel-footer">面板脚注</div>
</div>

<!--<script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}" ></script>-->
<!--<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>-->
<script type="text/javascript" th:src="@{/static/js/common/requirejs-main.js}"></script>
<script type="text/javascript" th:src="@{/static/assets/lib/require/require.min.js}"></script>
<script th:src="@{/static/js/app/student.js}"></script>
</body>
</html>